::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}
::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}
.el-menu{
  height: calc(100vh - 40px);
  overflow: hidden;
  overflow-y: auto;
}
.el-container {
  min-height: 100vh;
}

.el-menu--collapse {
  width: 70px;
}

.el-menu-vertical-table:not(.el-menu--collapse) {
  width: 200px;
}

.el-aside:not(.aside-collapse) {
  width: 201px !important;
}

.el-aside {
  width: 71px !important;
  transition: width 0.3s ease-in-out;
  position: relative;
}

.el-aside>button {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
}

.multiple-btn-box {
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: 0.1s ease-in-out;
  z-index: 999;
}
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
.footer-tag{
  text-align: left;
  margin-bottom: 20px;
}
.dialog-footer{
  text-align: right;
}
.el-tooltip__popper{
  max-width: 98vw;
  word-break: break-all;
}
.el-loading-mask{
  z-index: 99999 !important;
}
.emotion{
  font-size: 30px;
  -webkit-text-stroke: 0.5px #000;
}