<form action="#">
    <div class="mb-3">
        <label for="host-name" class="form-label">服务器地址</label>
        <input type="url" class="form-control" id="host-name" aria-describedby="urlHelp">
        <div id="urlHelp" class="form-text">e.g. http://localhost:6666</div>
    </div>
    <div class="mb-3">
        <label for="masker-color" class="form-label">鼠标遮罩颜色</label>
        <input type="color" class="form-control" id="masker-color">
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
</form>